# Python
_envrc_file=$1
_envrc_dir=$(dirname "$_envrc_file")

export UV_TOOL_DIR="$_envrc_dir/.direnv/uv/tools"
export UV_LINK_MODE=copy

# Add the QMK firmware directory to the environment
export QMK_USERSPACE_DIR="$_envrc_dir"
export QMK_FIRMWARE_DIR="$QMK_USERSPACE_DIR/qmk_firmware"

# Anything in this repo's bin directory should be on the path
PATH_add "$_envrc_dir/bin"

# Include cross-build toolchains
export QMK_DISTRIB_DIR="$_envrc_dir/.distrib"
PATH_add "$QMK_DISTRIB_DIR/bin"

# Add the QMK tools directory to the path
PATH_add "$UV_TOOL_DIR/qmk/bin"

# Install the environment if it's missing
if [ -z "$(command -v arm-none-eabi-gcc | grep '.distrib')" ]; then
    ./bin/reinstall-env.sh
fi

deactivate 2>/dev/null || true
layout uv 3.14

# Node.js (via nvm)
export NODE_VERSION_PREFIX=v
export NODE_VERSIONS="$HOME/.local/share/fnm/node-versions"
use fnm 22
unset NODE_VERSION_PREFIX
unset NODE_VERSIONS

# Ensure the environment is up to date
./bin/post-checkout.sh

# Import secrets if available, providing a warning if the unencrypted secrets file is different from the encrypted one
eval "$(sops decrypt secrets.enc)"
if [ -f "secrets" ]; then
    eval "$(cat secrets)"
    if ! cmp <(cat secrets) <(sops decrypt secrets.enc) >/dev/null 2>&1; then
        echo -e "\e[1;33mWARN:\e[0m \e[0;33mSecrets file is outdated. Please update it using 'sops encrypt secrets > secrets.enc'.\e[0m"
    fi
fi

# Clear out unused vars
unset _envrc_file
unset _envrc_dir
