# Python
_envrc_file=$1
_envrc_dir=$(dirname $_envrc_file)

layout pyenv 3.13.1

# Node.js (via nvm)
export NODE_VERSION_PREFIX=v
export NODE_VERSIONS="$HOME/.nvm/versions/node"
use node 22
unset NODE_VERSION_PREFIX
unset NODE_VERSIONS

# Anything in this repo's bin directory should be on the path
PATH_add bin

# Include cross-build toolchains
export QMK_DISTRIB_DIR="$_envrc_dir/.distrib"
PATH_add "$QMK_DISTRIB_DIR/bin"

# Clear out unused vars
unset _envrc_file
unset _envrc_dir
