layout pyenv 3.11.6

# Anything in this repo's bin directory should be on the path
PATH_add bin

# Include cross-build toolchains
#PATH_add "$HOME/.local/qmk/toolchains/bin"

# Override the AVR toolchain for testing
#PATH_add $HOME/qmk-toolchains/toolchains/host_linuxX64-target_baremetalAVR/bin
