/qmk_firmware

*.hex
*.bin
*.uf2
.vscode/ipch
.clang-format
PR-*.patchbuild.log
/build.log
/.project
compile_commands.json
chibios-upgrade-output
.cache
.DS_Store
._*
.vscode/.cortex-debug*
validation-output
sha1_verification
users-tzarc/qmk_version.h