/.direnv

/qmk_firmware
/dot-github
/extra_userdir

*.hex
*.bin
*.uf2

users-tzarc/graphics/src/*.gif
users-tzarc/graphics/src/*.png

alternates/qp_test/graphics/*.gif
alternates/qp_test/graphics/*.png

.vscode/ipch
.clang-format
PR-*.patchbuild.log
/build.log
/.project
compile_commands.json
chibios-upgrade-output
.cache
.DS_Store
._*
.vscode/.cortex-debug*
validation-output
sha1_verification
users-tzarc/qmk_version.h
stm32_usb.txt
stm32_usb.md
