[submodule "qmk_firmware-mods/lib/littlefs"]
	path = qmk_firmware-mods/lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "mini-rv32ima"]
	path = qmk_firmware-mods/lib/mini-rv32ima
	url = https://github.com/cnlohr/mini-rv32ima.git
