# Junk files
*.bak
*.swp
*~
.DS_Store
._*
__pycache__

# Firmware files
*.hex
*.bin
*.uf2

# venv etc.
/.direnv

# tzarc's cloned repo's
/qmk_firmware
/qmk_userspace
/qmk-dot-github

# Don't need source images
users-tzarc/graphics/src/*.gif
users-tzarc/graphics/src/*.png
alternates/qp_test/graphics/*.gif
alternates/qp_test/graphics/*.png

# Other junk
.cache
.vscode/.cortex-debug*
.vscode/ipch
compile_commands.json
sha1_verification
linkermap.html
