repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/JelleZijlstra/autotyping
    rev: 24.9.0
    hooks:
      - id: autotyping
        stages: [pre-commit]
        types: [python]
        args: [--aggressive]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
  - repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
      - id: yesqa
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.15.0
    hooks:
      - id: pretty-format-yaml
        args: [--autofix, --offset, '2']
      - id: pretty-format-toml
        args: [--autofix]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude: \.svd$|[mM]akefile[^\/]*$|.*\.mk$
      - id: insert-license
        name: Insert License Header (C/C++ files)
        exclude: |
          (?x)(
            debugging.c|
            utest.h|
            (mcu|hal|ch)conf.h|
            board.[ch]|
            \.q[gf]f\.[ch]|
            \.inl\.[ch]
            )$
        args: [--allow-past-years, --license-filepath=.license-header, --comment-style=//]
        types_or: [c, c++]
      - id: insert-license
        name: Insert License Header (Python files)
        exclude: |
          (?x)(
              linkermapviz\.py
              )$
        args: [--allow-past-years, --license-filepath=.license-header, --comment-style=#, --no-extra-eol]
        types_or: [python]
