qmk
-r qmk_firmware/requirements.txt
-r qmk_firmware/requirements-dev.txt
-r qmk_firmware/util/ci/requirements.txt

bokeh>=2.0,<3.0
compiledb
fnvhash
ghapi
mpire
profilehooks
pyelftools
python-sqlite-cache
qmk
redis
rq
ruff
squarify>=0.4.3,<1.0
