name: Build QMK firmware

on: [push, workflow_dispatch]

permissions:
  contents: write

jobs:
  build:
    name: QMK Userspace Build
    uses: qmk/.github/.github/workflows/qmk_userspace_build.yml@main
    with:
      qmk_repo: qmk/qmk_firmware
      qmk_ref: develop
      preparation_command: |
        set -e

        # Set up any symlinks required for the makefile
        echo
        echo '##################################################################################################################################################'
        echo '# Symlinks #######################################################################################################################################'
        echo '##################################################################################################################################################'
        make links

        # Dump out environmental information
        echo
        echo '##################################################################################################################################################'
        echo '# Environment ####################################################################################################################################'
        echo '##################################################################################################################################################'
        make env-info

        # Dump out QMK doctor
        echo
        echo '##################################################################################################################################################'
        echo '# QMK Doctor #####################################################################################################################################'
        echo '##################################################################################################################################################'
        qmk doctor || true

  publish:
    name: QMK Userspace Publish
    uses: qmk/.github/.github/workflows/qmk_userspace_publish.yml@main
    if: always() && !cancelled()
    needs: build
